<h1>About</h1>
<p>
    My name is Dinesh Madhup. I’m open for the opportunity to apply for the Software Developer role at any technology company. After reviewing few job descriptions, it’s clear that you’re looking for a versatile candidate to handle the numerous and varied responsibilities associated with this role. Given these requirements, I am certain that I can meet and exceed all expectations.<br/><br/>

    I am a diligent college graduate (4.0 GPA, Master in Computer Engineering) from Northwestern Polytechnic University. During the course of my professional as well as academic career, I have managed to accrue nearly 8 years of work experience. I had the privilege of working for DiLiLi Labs, Inc, ScholarsU, and Muncha Internet Ventures as a Software Developer role, where I learned valuable professional skills such as web platform development, web design, and web page content. In both my academic and professional life, I have been consistently praised as hard-working by my professors and peers. Whether working on academic, extracurricular, or professional projects, I apply proven multitasking, teamwork, and problem-solving skills, which I hope to leverage into the Software Developer role at your company.<br/><br/>

    After reviewing my resume, I hope you will agree that I am the type of skilled and resourceful candidate you are looking for. I look forward to elaborating on how my varied skill sets and abilities will benefit your organization. Please contact me at 510 703 3678 or via email at dineshmadhup@gmail.com to arrange for a convenient meeting time.<br/><br/>

    Thank you for your consideration, and I look forward to hearing from you soon.
</p>
<br/>
<p>{{message}}</p>